<div class="container">
    <div class="col-md-12">
        <h1>Product List</h1>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Product of products">
                    <td>{{Product.id}}</td>
                    <td>{{Product.name}}</td>
                    <td>{{Product.description}}</td>
                    <td>{{Product.price}}</td>
                    <td>
                        <button class="btn btn-info" 
                        (click)="showEditProductForm(Product)">
                            <i class="fa fa-edit"></i>
                        edit</button>
                        <button class="btn btn-danger">
                            <i class="fa fa-minus"></i>
                        Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success"
        (click)="showAddProductForm()"><i class="fa fa-plus"></i>Add</button>
        <br />
        <br />

        <form *ngIf="productForm">
            <h2>add new Product</h2>
            <p>ID: <input type="text" name="id" [(ngModel)]="newProduct.id"/></p>
            <p>Name: <input type="text" name="name" [(ngModel)]="newProduct.name" /></p>
            <p>Description: <input type="text" name="description" [(ngModel)]="newProduct.description"/></p>
            <p>Price: <input type="text" name="price" [(ngModel)]="newProduct.price"/></p>
            <p>
                <button type="button" class="btn btn-primary"
                (click)="saveProduct(newProduct)">Submit</button>
                <button type="button" class="btn btn-warning">Cancel</button>
            </p>
        </form>


        <form *ngIf="editProductForm">
            <h2>edit Product Details</h2>
            <p>ID: <input type="text" name="id" [(ngModel)]="editedProduct.id"/></p>
            <p>Name: <input type="text" name="name" [(ngModel)]="editedProduct.name" /></p>
            <p>Description: <input type="text" name="description" [(ngModel)]="editedProduct.description"/></p>
            <p>Price: <input type="text" name="price" [(ngModel)]="editedProduct.price"/></p>
            <p>
                <button type="button" class="btn btn-primary"
                (click)="UpdateProduct(editedProduct)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
            </p>
        </form>
        
    </div>

</div>